fastapi
joblib
scikit-learn==1.2.2
numpy==1.26.4
python-dotenv
netCDF4
earthaccess
pyproj==3.7.1
opencv-python-headless
uvicorn[standard]
pydantic
tensorflow-cpu==2.19.0
xgboost
Pillow
torch==2.1.2+cpu
torchvision==0.16.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
ultralytics
python-multipart
pybase64